<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">
   

    <div class="layui-form-item">
        <label class="layui-form-label label-required">上游</label>
        <div class="col-xs-3">
            <select name="cId" class="input-sm form-control">
                <option value="">- 请选择 -</option>
                {volist name="vo.channel" id='v'}
				  <option   {if isset($vo.cId)&&$vo.cId==$v.id }selected{/if} value="{$v.id}">-  {$v.name} -</option>
				{/volist}
            </select>
        </div> 
    </div>
 

    <div class="layui-form-item">
        <label class="layui-form-label label-required">配置描述</label>
        <div class="col-xs-8">
            <textarea name="info" class="layui-input" placeholder="请输入接口描述" style="height:60px;resize:none;line-height:20px">{$vo.info|default=""}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
 
    <div class="layui-form-item text-center">
        {if isset($vo ['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
		{if isset($vo ['merCId'])}<input type='hidden' value="{$vo['merCId']}" name='merCId'/>{/if}
        <button class="layui-btn" type='submit'><i class="fa fa-floppy-o"></i> 保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close><i class="fa fa-close"></i> 取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
