{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加权限" class='layui-btn layui-btn-small'>
        <i class='fa fa-plus'></i> 添加订单
    </button>
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'>
        <i class='fa fa-remove'></i> 删除订单
    </button>
</div>
{/block}

{block name="content"}
<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line" lay-size="sm">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-mini">id</button>
            </th>
            <th class='text-center'>用户ID</th>
			<th class='text-center'>产品</th>
			<th class='text-center'>notify_url</th>
			<th class='text-center'>return_url</th>
            <th class='text-center'>日期</th>
            <th class='text-center'>状态</th>
			<th class='text-center'>商户channel</th>
			<th class='text-center'>channel</th>
			<th class='text-center'>银行信息</th>
			<th class='text-center'>利润</th>			
            <th class='text-center'>添加时间</th>
			<th class='text-center'>extra</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='list-table-sort-td'>
			{$vo.id}
    
            </td>
            <td class='text-center'>{$vo.UserID}</td>
			<td class='text-center'>{$vo.ProductName}</td>
			<td class='text-center'>{$vo.notify_url}</td>
			<td class='text-center'>{$vo.return_url}</td>
			  
            <td class='text-center'>{$vo.OrderDate|format_datetime}</td>
            <td class='text-center'>
                {if $vo.status eq 0}
                <span>未支付</span>
                {elseif $vo.status eq 1}
                <span style="color:#090">使用中</span>
                {/if}
            </td>
			 <td class="text-center nowrap">{$vo.mer_channel}</td>
			 <td class="text-center nowrap">{$vo.channelId}</td>
			  <td class="text-center nowrap">{$vo.bank}</td>
			   <td class="text-center nowrap">{$vo.RateMoney}</td>
            <td class="text-center nowrap">{$vo.cTime|format_datetime}</td>
			<td class="text-center nowrap">{$vo.extra}</td>
            <td class='text-center nowrap'>  
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
    {/if}
</form>
{/block}